// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* START_HIGHLIGHT */
.products {
  background-color: #DCCFC8;
  color: #474747;  
  
  h1 {
    color: #3b2016;
    font-size: 40px;
    font-family: Arial;
    margin: -20px 15px 35px 0;
  }
  
  p a { 
    text-decoration: underline;  
    }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  table tr td {

    padding: 15px;
    vertical-align: middle;   
  }
  
  table tr td div.list_actions {      
      display: none;           
  }
  
  table tr:hover td div.list_actions {
    display: block;    
    float: left;
    }
 
  .list_image {
    width:  129px;
    height: 150px;
    margin: 15px 5px;
      -moz-box-shadow:    3px 3px 5px 6px #91847D;
      -webkit-box-shadow: 3px 3px 5px 6px #91847D;
      box-shadow:         3px 3px 5px 6px #91847D;    
  }

  .list_description {
    width: 100%;
    padding: 10px;

    dl {
      margin: 0;
      padding: 0px 17px;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
      margin-bottom: 10px;
      
    }

    dd {
      margin: 0;
      text-align: justify;
    }
  }

  .list_actions {
    font-size: 1.1em;    
    text-decoration: none;
    font-weight: bold;    
    text-align:   right;
    padding-left: 1em;
    
    a {
      text-decoration: none;
      color: #3b2016;
      &:hover { color: #624D45; }
    }   
   
  } 
  
  .list_line_even {
    background:   #c4afa3;
  }
  .list_line_odd {
    background:   #cfbcb2;
  }
}
/* END_HIGHLIGHT */

